{% extends "sportstats/tournaments/tournaments.html" %}

{% block page_title %} Результаты поиска турниров по запросу ("{{ saved_name }}", {{ saved_place }}, {{ saved_year }} год) {% endblock %}
{% block saving_search_name %} {{ saved_name }} {% endblock %}
{% block saving_search_place %} {{ saved_place }} {% endblock %}
{% block saving_search_year %} {{ saved_year }} {% endblock %}


{%  block search_results %}
     {% if tournaments_to_show %}
        <ul>
        {% for tournament in tournaments_to_show %}
            <li>
                <a href="{% url "tournament_detail" tournament.id %}">{{ tournament.tournament_name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Не найдено турниров по запросу!</p>
    {% endif %}
{%  endblock %}