{%  extends "sportstats/index.html" %}

{% block page_title %} {{ tournament }} {% endblock %}
{% block page_header %} {{ tournament }} {% endblock %}

{% block content %}
    <p>Список команд, участвующих в турнире:</p>
    <ul>
        {% for team in teams %}
            <li><a href="{% url "team_detail" team.id %}">{{ team.team_name }}</a></li>
        {% endfor %}
    </ul>

    <a href="{% url "tournament_edit" tournament.id %}">Изменить параметры турнира</a>
    {% if tournament.is_regular %}
        <a href="{% url "tournament_table" tournament.id %}">Открыть турнирную таблицу</a>
    {% endif %}
{% endblock %}