{%  extends "sportstats/index.html" %}

{% block page_title %} {{ match.first_team }} - {{ match.second_team }} {% endblock %}
{% block page_header %} {{ match.tournament }}, {{ match.date_held }} {% endblock %}

{% block content %}
    <div class="d-flex flex-row">
        <div><h2><span class="badge bg-primary border border-2 border-danger"><a class="text-light" href="{% url "team_detail" match.first_team.id %}">{{ match.first_team }}</a></span></h2></div>
        <div><h2><span class="badge bg-primary ms-5">{{ match.first_team_scores }}</span></h2></div>
        <div><h2><span class="ms-2">-</span></h2></div>
        <div><h2><span class="badge bg-primary ms-2">{{ match.second_team_scores }}</span></h2></div>
        <div><h2><span class="badge bg-primary border border-2 border-danger ms-5"><a class="text-light" href="{% url "team_detail" match.second_team.id %}">{{ match.second_team }}</a></span></h2></div>
    </div>
{% endblock %}