{%  extends "sportstats/index.html" %}

{% block page_title %} Команды {% endblock %}
{% block page_header %} Введите название команды для поиска {% endblock %}

{% block content %}

    <form method="get" action="{% url "teams_search" %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 input-group">
                    <input name="teams_srch_name" type="text" class="form-control" placeholder="Название команды..." aria-label="Recipient's username" aria-describedby="button-addon2" value={% block saving_search_name %} {% endblock %}>
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Поиск</button>
                </div>
            </div>
        </div>
    </form>

    <div class="container">
          {% block search_results %} {% endblock %}
    </div>
{% endblock %}