{% extends "sportstats/teams/teams.html" %}

{% block page_title %} Результаты поиска команд по запросу "{{ saved_name }}" {% endblock %}
{% block saving_search_name %} {{ saved_name }} {% endblock %}

{%  block search_results %}
     {% if teams_to_show %}
        <ul>
        {% for team in teams_to_show %}
            <li>
                <a href="{% url "team_detail" team.id %}">{{ team.team_name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Не найдено команд по запросу!</p>
    {% endif %}
{%  endblock %}