{%  extends "sportstats/index.html" %}

{% block page_title %} {{ team.team_name }} {% endblock %}
{% block page_header %} {{ team }} {% endblock %}

{% block content %}
    <p>Список турниров, в которых участвовала или участвует команда:</p>
    <ul>
        {% for tournament in tournaments %}
            <li><a href="{% url "tournament_detail" tournament.id %}">{{ tournament }}</a></li>
        {% endfor %}
    </ul>

    <a href="{% url "team_edit" team.id %}">Изменить параметры команды</a>
    <br>
    <p>Последние 5 матчей команды</p>
    <div class="list-group h-25">
        {% for match in latest_matches %}
            <a href="{% url "match_detail" match.id %}" class="list-group-item list-group-item-action h-25">{{ match }}</a>
        {% endfor %}
    </div>
{% endblock %}