.input-group {
    margin-top: 30px;
    margin-bottom: 30px;
}


input.form-control {
    max-width: 200px;
}

input.form-control#floatingHost {
    max-width: 300px;
}

label.ms-2 {
    margin-left: 12px !important;
}

legend {
    text-align: center;
}

.list-group-item {
    max-width: 300px;
}

a {
    padding-right: 8px;
    text-decoration: none;
}
